.bc-header {
    background-color: bisque; // TO BE DELETED
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 14px;

    &__logo_link {
        display: flex;
    }

    &__nav-links {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
