:root {
    --primary: #29adb2;
    --primary-rgba-10: rgba(41, 173, 178, 0.1);
    --secondary: #c5e898;
    --black: #000000;
    --white: #ffffff;
    --text-light: #5b6470;
    --text: #353a41;
    --text-dark: #23272b;
    --background: #f5f7fa;
    --background-light: #fbfcfc;
    --grey-light: #edf2f5;
    --grey: #d9dde0;
    --grey-dark: #9ea1a3;
    --error-light: #b64f62;
    --error: #a4243b;
    --error-dark: #831c2f;
    --success-light: #a8f5ab;
    --success: #9ae19d;
    --success-dark: #7bb47d;
    --warning-light: #f9d05e;
    --warning: #f8c537;
    --warning-dark: #c69d2c;
}
