@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1,
.bc-h1 {
    font-size: 28px;
    font-weight: bold;
}

h2,
.bc-h2 {
    font-size: 22px;
    font-weight: bold;
}

h3,
.bc-h3 {
    font-size: 18px;
    font-weight: bold;
}

h4,
.bc-h4 {
    font-size: 16px;
    font-weight: bold;
}
