.bc-beer-collection-app {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-width: 375px;
    max-width: 1440px;

    main {
        height: calc(100vh - 130px);
        overflow-y: auto;
    }
}
