.bc-loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: 100%;
    background-color: var(--primary-rgba-10);
    min-width: 375px;
    max-width: 1440px;
}
