.bc-footer {
    background-color: bisque; // TO BE DELETED
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 24px;
    font-size: 14px;

    a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
    }
}
