$bc-collection-list-image-size: 150px;

.bc-collection-list-item {
    display: flex;
    padding: 8px;
    background-color: var(--primary-rgba-10);
    border-radius: 8px;

    a {
        display: flex;
    }

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: $bc-collection-list-image-size;
        height: $bc-collection-list-image-size;

        img {
            max-width: $bc-collection-list-image-size;
            max-height: $bc-collection-list-image-size;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
    }

    &__tagline {
        color: var(--primary);
    }

    &__description {
        font-size: 12px;
        color: var(--text-light);
    }
}
